<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ejs is fun</h1>
  <p><%= teacher %></p>
  <!-- <p>{{teacher}}</p> -->
  <p>We are in class <%= course %></p>
  <p>Yep, we are in class <%= course %></p>
  
</body>
</html>

<!-- {teacher: 'nicholas', course: '301d71', funFactor: 7} -->