<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Job postings</h1>

  <% jobs.forEach(job => { %>
    <section>
      <h2><%= job.title %></h2>
      <p><%= job.type %></p>
      <p><%= job.location %></p>
    </section>
  <% }) %>
</body>
</html>