<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To-Do List</title>
  </head>
  <body>
    <header>
        <h1>My To-Do List</h1>
        <nav class="navigation">
          <ul>
            <li><a href="/tasks">View All Tasks</a></li>
            <li><a href="/add">Add a New Task</a></li>
          </ul>
        </nav>
      </header>
      
    <main>
      <p><%= error %></p>
    </main>
  </body>
</html>