<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title>To-Do List</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Todo Site</h1>
        <nav class="navigation">
          <ul>
            <li><a href="/tasks">View All Tasks</a></li>
            <li><a href="/add">Add a New Task</a></li>
          </ul>
        </nav>
      </header>
      
      <section class="task-view container">
          <ul id="task-list">
            <% results.forEach(task => { %>
              <li class="task-item" data-id="<%= task.id %>">
                <h4>Task: <%= task.name %></h4>
                <a href="/tasks/<%= task.id%>">View Details</a>
              </li>
            <% }) %>
          </ul>
      </section>
    </main>
  </body>
</html>